.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container label {
  width: 280px;
}

.input-container label {
  width: 280px;
}

#file-selector {
  margin-left: 5px;
  margin-bottom: 20px;
}
